{
  "id": "1D7A67C2B57E",
  "name": "Abonnement Basic",
  "slug": "abonnement-basic",
  "sku": null,
  "price": "7900.00",
  "sale_price": null,
  "category_uuid": null,
  "is_active": true,
  "created_at": "2026-09-08T08:27:13+00:00",
  "updated_at": "2026-09-08T08:29:33+00:00",
  "pricing_type": "subscription",
  "min_price": null,
  "suggested_price": null,
  "display_price": "7,900.00/30d",
  "is_free": false,
  "lead_fields": null,
  "description": null,
  "images": [],
  "faqs": [],
  "cover_image": null,
  "download_limit": 5,
  "download_expiry_days": 30,
  "file_type": null,
  "file_size": null,
  "is_subscription": true,
  "subscription_plans": [
    {
      "label": "Mensuel",
      "price": 7900,
      "benefits": [],
      "duration": 30,
      "billing_cycle": "monthly"
    },
    {
      "label": "Annuel",
      "price": 79000,
      "benefits": [],
      "duration": 365,
      "billing_cycle": "yearly"
    }
  ]
}